*{
    padding:0px;
    margin: 0px;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

header img {
    width: 200px;
    display: block;
    margin: auto;
  }

header h1{
  background-color: #fc2c6e;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.1rem;
}
header h3{
    color: #000000;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 0.1rem;
    font-weight: normal;

    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

#menu-topo ul{
    list-style: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ff6e9c;

}

#menu-topo ul li{
display: inline-block;
}

#menu-topo ul li a{  
    font-size: 14px;  
    padding: 10px 10px;
    margin-right: 25px;
    margin-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    background-color: #ff6e9c;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }

#menu-topo a:hover{
  background-color:#fc3675;
  border-radius: 10px;
}

/* Seção de imagens */
.vagas{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mural-vagas h3{
  text-align: center;
  text-transform: uppercase;
  color: #ff6e9c;
}

.vagas > div{
  flex:1 1;
  margin:0.8rem;
  border: 2px solid #ff6e9c;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.vagas div img{
  width: 70%;
  margin: auto;
  border-radius: 20px;
  display:block;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.vagas div p{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.vagas div h4{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 5px 10px 20px ;
  color: #fc2c6e;
}

.vagas div p a{
  list-style: none;
  text-decoration: none;
  color:#fc2c6e;
  font-weight: bold;
}

.vagas div p a:hover{
  color: #ff6e9c;
}

#info-vagas{
  margin: 20px;
}

#info-vagas span{
  font-weight: bold;
  text-align: left;
  font-size: 16px;
  color: #fc2c6e;
}
#info-vagas p{
  color: black;
  font-weight: 500;
  text-align: left;
}

