.mapaDoSite_lista ul {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mapa_candidato, .mapa_recrutador, .mapa_minhaConta, .mapa_esqueci_senha {
    position: relative;
    left: 2%;
}