*{
    padding:0px;
    margin: 0px;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.cabecalho-descricao h3{
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 0.1rem;
  font-weight: normal;

  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

header img {
    width: 200px;
    display: block;
    margin: auto;
  }

header h1{
  background-color: #fc2c6e;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.1rem;
}


#menu-topo ul, footer{
    list-style: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ff6e9c;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#menu-topo ul li{
display: inline-block;
}

#menu-topo ul li a{  
    font-size: 14px;  
    padding: 10px 10px;
    margin-right: 25px;
    margin-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    background-color: #ff6e9c;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }

#menu-topo a:hover{
  background-color:#fc3675;
  border-radius: 10px;
}
